    <div class="sun_footer">
        <div class="container">
            <ul class="celarfix">
                <li><a href="http://www.langfengyaoye.com/m/">

<i class="iconfont icon-shouye"></i>


                        <p>首页</p>
                    </a></li>
                <li><a href="tel:18145689010">
                        <i class="iconfont icon-mobilephone"></i>
                        <p>电话</p>
                    </a></li>
                <li><a href="http://www.langfengyaoye.com/m/message/">
                        <i class="iconfont icon-all"></i>
                        <p>分类</p>
                    </a></li>
               <li><a href="http://www.langfengyaoye.com/m/about_mobile/m_sjdt.html">
                        <i class="iconfont icon-map"></i>
                        <p>位置</p>
                    </a></li>
                <li class="share"><a href="javscript:;">
                        <i class="iconfont icon-cart"></i>
                        <p>淘宝</p>
                    </a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $('.imgauto img').imgAuto();
      })
    </script>
    <script type="text/javascript">
      var browser = navigator.appName
      var b_version = navigator.appVersion
      var version = b_version.split(";");
      var trim_Version = version[1].replace(/[ ]/g, "");
      if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0") {
        $('.iet').hide();
      } else {
        $('.iet').hide();
      }
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ylyy.js"></script>
