    <div class="sun_footer">
        <div class="container">
            <ul class="celarfix fc">
                <?php
                    $chkid = isset($cid) ? $cid : 0;
                    $catid = isset($category) ? $category['pid'] : 0;
                ?>
                <li <if condition="$nav['id'] eq $chkid || $nav['id'] eq $catid">class="on"</if>><a href="<yunu:url name='home'/>">

<i class="iconfont icon-shouye"></i>


                        <p>首页</p>
                    </a></li>
                <li><a href="tel:18145689010">
                        <i class="iconfont icon-mobilephone"></i>
                        <p>电话</p>
                    </a></li>
                <li <if condition="$nav['id'] eq $chkid || $nav['id'] eq $catid">class="on"</if>><a href="/index.php?s=category/index&id=21">
                        <i class="iconfont icon-all"></i>
                        <p>分类</p>
                    </a></li>
               <li <if condition="$nav['id'] eq $chkid || $nav['id'] eq $catid">class="on"</if>><a href="/index.php?s=index/category/index&id=30">
                        <i class="iconfont icon-map"></i>
                        <p>位置</p>
                    </a></li>
                <li class="share"><a href="http://shop106003497.taobao.com/">
                        <i class="iconfont icon-cart"></i>
                        <p>淘宝</p>
                    </a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $('.imgauto img').imgAuto();
      })
    </script>
    <script type="text/javascript">
      var browser = navigator.appName
      var b_version = navigator.appVersion
      var version = b_version.split(";");
      var trim_Version = version[1].replace(/[ ]/g, "");
      if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0") {
        $('.iet').hide();
      } else {
        $('.iet').hide();
      }
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ylyy.js"></script>
