html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fc {
  color: #ae3523 !important;
}
.m_banner .mbanner .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

.m_banner .mbanner .pagination span.swiper-pagination-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  opacity: 1;
  border-radius: 10px;
  background: #666666;
  margin: 0 3px;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}

.m_banner .mbanner .pagination span.swiper-pagination-bullet-active {
  background: #ae3523;
  width: 12px;
}

/* 首页公共 */

.titlewrap{
  background-color: #f5efde;
}
.index_title i{
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  height: 2.8em;;
  line-height: 2.8em;;
  font-size: 28px;
  text-align: center;
  color: #575757;
  letter-spacing: 0.8em;
}
.index_subtitle{
  text-align: center;
  font-size: 18px;
  line-height: 1.6em;
  padding: .5em 0 1em;
}

.index_title_bg_left{
  display:inline-block;
  vertical-align: top;
  width: 2.8em;;
    height: 2.8em;;
    line-height: 2.8em;;  background:url(../img/sample/title_bg_left.png);
background-position: left center;  background-repeat: no-repeat;
background-size:contain;
}
.index_title_bg_right{
  display:inline-block;
  vertical-align: top;
  width: 2.8em;;
    height: 2.8em;;
    line-height: 2.8em;;
  background:url(../img/sample/title_bg_right.png);
background-position: left center;  background-repeat: no-repeat;
background-size:contain;
}

/* 首页产品搜索 */
.sea1 {
  width: 84%;
  padding: 2%;
  background: #fff;
  font-size: 16px;
  border-radius: 0.2em;
  border: 0;
}
.sea {
  padding: 3%;
  background: #ff9600;
}
/* 城市分站 */
.fcities{
  padding: 0 3%;
}
.fcities .flink_list{
  border-bottom: 1px solid #909399;
}
  .fcities .flink_list ul li {
    float: left;
    margin-right: 28px;
    margin-bottom: 8px;
  }

  .fcities .flink_list ul li a {
    font-size: 12px;
    color: #5a5a5a;
  }

  .fcities .flink_list ul li a:hover {
    color: #036aac;
  }

/* 首页新闻 */
.cl {
  clear: both;
}

.index_more {
  width: 30%;
  border: 1px solid #ccc;
  color: #000;
  line-height: 35px;
  margin: 0 auto;
}

.index_new {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  background: #ff9600;
}

.index_news {
  margin: 0 auto;
}
.index_new .titlewrap {
  background-color: transparent;
}
.index_new .titlewrap p i{
  color: #fff;
}

.index_new .index_title_bg_left{
  background-image:url(../img/sample/news_left.png);
}
.index_new .index_title_bg_right{
  background-image:url(../img/sample/news_right.png);
}

.index_new_type {
  padding: 3% 4%;
  border: 1px solid #fff;
  margin: 0 2%;
  border-radius: 1em;
  color: #fff;
}

.index_news_tem1 {
  color: #fff;
}

.index_news_tem {
  border-top: 1px dashed #fff;
  padding: 10px 0;
  color: #fff;
}

.news_right {
  position: relative;
}

.index_news_type_tem {
  margin: 0 15px;
  width: 143px;
  text-align: center;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 17px;
  cursor: pointer;
}

.index_tem {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.index_tem div {}

.no {
  display: none
}

.act {
  color: #ff9600;
  background: #fff;
}

.acts {
  color: #fff;
}

.index_news_list {
  margin: 0 auto;
}

.index_news_list a {
  color: #fff;
}

.index_news_list_tem {
  border-top: 1px dashed #fff;
  color: #fff;
}

.index_news_list  ul li {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  border-top: 1px dashed #fff;
}

.index_news_list ul li .i_box4_time {
  width: 75px;
  padding: 14px 0;
  position: absolute;
  left: 0;
  top: 0;
}

.index_news_list ul li .i_box4_time p span {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: block;
  line-height: 100%;
}

.index_news_list ul li .i_box4_time p i {
  font-style: normal;
  text-align: center;
  color: #fff;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.index_news_list ul li .i_box4_text {
  width: 100%;
  padding-left: 90px;
  min-height: 75px;
}

.index_news_list ul li .i_box4_text a span {
  font-size: 20px;
  color: #fff;
  line-height: 140%;
  font-weight: 400;
}

.index_news_list ul li .i_box4_text a span:hover {
  color: #fff;
}

.index_news_list ul li .i_box4_text p {
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  margin-top: 3px;
  height: 44px;
  overflow: hidden;
  padding-right: 2%;
}

.index_news_list  ul li .i_box4_text a span {
  font-size: .12rem;
  font-weight: bold;
}
.index_news_list  ul li .i_box4_text p {
  font-size: .1rem;
  margin-top: 4px;
}
.index_news_list  ul li .i_box4_time p span {
  font-size: .14rem;
}
.index_news_list  ul li .i_box4_time p i {
  font-size: .11rem;
}
.index_news_list  ul li .i_box4_text {
  padding-left: 85px;
}
.index_news_list  ul li .i_box4_time {
  padding: 30px 0 15px 0;
}
.index_news_list .fr h3 {
  font-size: .14rem;
  line-height: 42px;
  height: 42px;
}

/* 首页产品 */
.index_pr {
  width: 100%;
  margin: 0 auto;
  background: url(../img/sample/index_pr1.png) no-repeat center top;
}

.index_prs {
  margin: 0 auto;
  padding: 0 2%;
}

.picScroll .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.picScroll .swiper-pagination-bullet-active {
  color:#ae3523;
  background: #fff;
}

.picScroll {
  position: relative;
}

.picScroll .swiper-container{
  padding: 12px 0 24px ;
}
.picScroll .swiper-container .swiper-pagination{
  bottom: 0;
}

.picScroll .prev, .picScroll .next {
  position: absolute;
  display: block;
  width: 0.20rem;
  height: 0.20rem;
  cursor: pointer;
  top: 50%;
}
.picScroll .prev img, .picScroll .next img{
  width: 100%;
}

.picScroll .prev {
  left: 0;
}

.picScroll .next {
  right: 0;
}

.picScroll-left {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.picScroll-left .hd {
  overflow: hidden;
  height: 30px;
  padding: 0 10px;
}

.picScroll-left .hd .prev, .picScroll-left .hd .next {
  display: block;
  float: right;
  cursor: pointer;
  width: 30px;
  height: 30px
}

.picScroll-left .hd .prev {
  background: url(../images/left.png);
  background-size: 100% 100%;
  margin-right: 5px;
}

.picScroll-left .hd .next {
  background: url(../images/right.png);
  background-size: 100% 100%;
}

.picScroll-left .hd ul {
  float: right;
  overflow: hidden;
  zoom: 1;
  margin-top: 10px;
  zoom: 1;
}

.picScroll-left .hd ul li {
  float: left;
  width: 9px;
  height: 9px;
  overflow: hidden;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px
}

.picScroll-left .hd ul li.on {
  background-position: 0 0;
}

.picScroll-left .bd {
  padding-top: 10px;
}

.picScroll-left .bd ul {
  zoom: 1;
}

.picScroll-left .bd ul li {
  /* float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
  width: 50%; */
}

.picScroll-left .bd ul li .pic {
  text-align: center;
  width: 96%;
  margin: 0 2%;
  background: url(../img/sample/1.jpg)no-repeat center top;
  background-size: 100% 100%;
  position: relative;
}

.picScroll-left .bd ul li .pic1 {
  text-align: center;
  width: 100%;
  background: url(../img/sample/2.jpg)no-repeat center top;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  display: none
}

.picScroll-left .bd ul li .pics img {
  width: 100%;
}

.picScroll-left .bd ul li .title {
  line-height: 35px;
  color: #000;
}

/* 首页底部 */
.sun_footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #DBDBDB;
}

.sun_footer li {
  width: 20%;
  text-align: center;
  float: left;
  padding-top: 5px;
}

.sun_footer .iconfont {
  font-size: 2em;
}

/* 移动端 头部汉堡菜单 */
.hamburger.navbar-toggle {
  position: relative;
    float: right;
    border-radius: 3px;
    height: 66px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    line-height: 22px;
    background: 0 0!important;
    border: 1px solid transparent;
}
.navbar-toggle:focus {
    outline: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.hamburger {
    font-size: 20px;
    vertical-align: middle;
}
.hamburger,
.hamburger:before,
.hamburger .hamburger-bar,
.hamburger:after {
    transition: transform .2s ease-in-out;
}
.hamburger:before,
.hamburger:after {
    content: "";
}
.hamburger:before,
.hamburger .hamburger-bar,
.hamburger:after {
    display: block;
    width: 1em;
    height: .1em;
    margin: 0;
    background: #76838f;
    border-radius: 1px;
}
.navbar-default .hamburger:before,
.navbar-default .hamburger .hamburger-bar,
.navbar-default .hamburger:after {
    background: #76838f;
}
.navbar-inverse .hamburger:before,
.navbar-inverse .hamburger .hamburger-bar,
.navbar-inverse .hamburger:after {
    background: #fff;
}
.hamburger .hamburger-bar {
    margin: .2em 0;
}
.hamburger-close:before {
    transform: rotate(45deg);
    transform-origin: 8%;
}
.hamburger-close .hamburger-bar {
    opacity: 0;
}
.hamburger-close:after {
    transform: rotate(-45deg);
    transform-origin: 8%;
}
.hamburger-close.hided:before,
.hamburger-close.collapsed:before {
    transform: rotate(0);
}
.hamburger-close.hided .hamburger-bar,
.hamburger-close.collapsed .hamburger-bar {
    opacity: 1;
}
.hamburger-close.hided:after,
.hamburger-close.collapsed:after {
    transform: rotate(0);
}
.hamburger-arrow-left.collapsed {
    transform: rotate(180deg);
}
.hamburger-arrow-left.collapsed:before {
    width: .6em;
    transform: translate3d(.45em, .1em, 0) rotate(45deg);
}
.hamburger-arrow-left.collapsed .hamburger-bar {
    border-radius: .2em;
}
.hamburger-arrow-left.collapsed:after {
    width: .6em;
    transform: translate3d(.45em, -.1em, 0) rotate(-45deg);
}

@media screen and (max-width: 450px) {
  .index_title_bg_left {
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    background-size: contain;
  }
  .index_title_bg_right {
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    background-size: contain;
  }
  .i_box2 .i_box2_tit span{
    display: inline-block;
  }
  .titlewrap p span{
    display: inline-block;
    font-size: .14rem;
  }
   
  .titlewrap .index_title  i {
    font-size: .14rem;
    height: 1.6em;
    line-height: 1.6em;
    padding-left: 0.8em;
  }
  .titlewrap .index_subtitle{
    font-size: .12rem;    
  }
  .i_box2 .i_box2_tit .index_subtitle {
    display: none;
  }
  .i_box2 .i_box2_content .i_box2_content1 .i_box2_text{
    height: auto;
  }
 

}