{include file="public/header" /}
<style type="text/css">
.layui-input-inline .icheckbox_square-green{display: none;}
</style>
</head>
<body>
	<div id="main-container">
		{include file="public/menu" /}
		<div class="main">
			<div class="notice">{$position.url}</div>
			<div class="main_content">
				<div class="title">
					<span>{$position.name}</span>
				</div>
				<a class="btn mr10" href="{:url('addarea',['pid'=>$pid])}">新增地区</a>
                <a class="btn mr10" onclick="showurl()">获取域名列表</a>
                <a class="btn mr10 openbqs">一键快速推荐百强市</a>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle colorfff" data-toggle="dropdown">批量操作&nbsp;&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{:url('batchaddarea',['pid'=>$pid])}">批量新增</a></li>
                        <li><a class="do-action" data-type="doDelete" data-href="{:url('delarea')}">批量删除</a></li>
                        <li><a class="doopen">批量设置</a></li>
                    </ul>
                </div>

                <div class="none" id="open" style="padding-top:20px;">
                    <form  class="layui-form layui-form-pane" id="formopen" method="post" role="formopen">
                        <div class="layui-form-item">
                            <label class="layui-form-label">分站</label>
                            <div class="layui-input-inline w450">
                                <input type="radio" name="isopen" value="-1" title="原设置" checked>
                                <input type="radio" name="isopen" value="1" title="开通">
                                <input type="radio" name="isopen" value="0" title="关闭">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">推荐</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="istop" value="-1" title="原设置" checked>
                                <input type="radio" name="istop" value="1" title="推荐">
                                <input type="radio" name="istop" value="0" title="取消">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">独立内容</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="iscon" value="-1" title="原设置" checked>
                                <input type="radio" name="iscon" value="1" title="开启">
                                <input type="radio" name="iscon" value="0" title="关闭">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">二级域名</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="isurl" value="-1" title="原设置" checked>
                                <input type="radio" name="isurl" value="1" title="开启">
                                <input type="radio" name="isurl" value="0" title="关闭">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">城市级别</label>
                            <div class="layui-input-inline w450">
                                <input type="checkbox" lay-skin="primary" name="selarea" value="1" title="一级城市">
                                <input type="checkbox" lay-skin="primary" name="selarea" value="2" title="二级城市">
                                <input type="checkbox" lay-skin="primary" name="selarea" value="3" title="三级城市">
                            </div>
                        </div>
                    </form>
                </div>

				<div class="table">
					<table class="layuitable">
						<thead>
							<tr>
								<th width="50"><input class="i-checks checkbox check-all" type="checkbox"></th>
								<th width="80"><span>ID</span></th>
								<th ><span>名称</span></th>
								<th width="150"><span>英文名</span></th>
								<th width="80"><span>开通</span></th>
                                <th width="80"><span>推荐</span></th>
								<th width="80"><span>独立内容</span></th>
								<th width="80"><span>二级域名</span></th>
								<th class="sort" width="80"><span>排序</span></th>
								<th width="150"><span>操作</span></th>
							</tr>
						</thead>
						<tbody>
							{notempty name="infolist"}
		                        {volist name="infolist" id="v"}
		                        <tr>
		                            <td><input class="ids i-checks" type="checkbox" name="ids[]" ids="{$v.id}"></td>
		                          	<td>{$v.id}</td>
		                          	<td>
		                          		{if condition="$v.count gt 0"}
		                          			<a href="{:url('index',['id'=>$v['id']])}">{$v.title}&nbsp;&nbsp;<font color="red">[&nbsp;{$v.count}&nbsp;]</font><!--  / <font color="red">{$v.top}</font> --></a>
		                          		{else}
											<a href="{:url('index',['id'=>$v['id']])}">{$v.title}</a>
		                          		{/if}
		                          	</td>
		                          	<td>{$v.etitle}</td>
		                          	<td><a href="javascript:;" class="change_status" data-id="{$v.id}" data-tp="open"> <div class="layui-unselect layui-form-switch {if condition="$v.isopen eq 1"}layui-form-onswitch{/if}"><i></i></div> </a></td>
                                    <td><a href="javascript:;" class="change_status" data-id="{$v.id}" data-tp="top"> <div class="layui-unselect layui-form-switch {if condition="$v.istop eq 1"}layui-form-onswitch{/if}"><i></i></div> </a></td>
		                          	<td><a href="javascript:;" class="change_status" data-id="{$v.id}" data-tp="con"> <div class="layui-unselect layui-form-switch {if condition="$v.iscon eq 1"}layui-form-onswitch{/if}"><i></i></div> </a></td>
		                          	<td><a href="javascript:;" class="change_status" data-id="{$v.id}" data-tp="url"> <div class="layui-unselect layui-form-switch {if condition="$v.isurl eq 1"}layui-form-onswitch{/if}"><i></i></div> </a></td>
		                          	<td><input class="sort" type="number" maxlength="4" data-id="{$v.id}" value="{$v.sort}"/></td> 	
		                            <td>
		                                <a class="btn" href="{:url('editarea',['id'=>$v['id']])}">编辑</a>
		                                <a class="btn do-action" data-type="doDelOne" data-href="{:url('delarea')}" data-id="{$v.id}">删除</a>
		                            </td>
		                        </tr>
		                        {/volist}
		                    {else /}
		                        <td colspan="10" class="text-center"> 暂未发现数据! </td>
		                    {/notempty}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<script>
function showurl(){
    layer.open({
        type: 2,
        title: '二级域名列表',
        shadeClose: true,
        area: ['40%', '60%'],
        skin: 'layui-layer-demo',
        content: "{:url('showurl')}"
    });
}

var laytpl,laypage;
layui.use(['form','layer', 'laypage','common', 'icheck'], function () {
    var $ = layui.jquery, layer = layui.layer, common = layui.common;
    var form = layui.form();
    laypage = layui.laypage;
    //加载单选框样式
    $(("[type='checkbox']")).iCheck({
        checkboxClass: 'icheckbox_square-green',
    });
    //全选的实现
    $('.check-all').on('ifChecked', function (event) {
        $('input[name="ids[]"]').iCheck('check');
    });
    $('.check-all').on('ifUnchecked', function (event) {
        $('input[name="ids[]"]').iCheck('uncheck');
    });

    $(document).on('click','.editstatus', function () {
        var url = $(this).attr('rel');
        if (1 > $(".layuitable tbody input:checked").size()) return common.layerAlertE("对不起，请选中您要操作的数据！", "提示");
        for (var c = "", d = $(".layuitable tbody input:checked"), e = 0; e < d.length; e++) d[e].checked && "disabled" != $(d[e]).attr("disabled") && (c += $(d[e]).attr("ids") + ",");
                
        $.ajax({
            url: url,
            dataType: "json",
            data:{'ids':c},
            type: "POST",
            success: function(data){
                if(data.code == 1){
                    location.reload();
                }else{
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                }
            },
        });
    });

    $(document).on('click','.openbqs', function () {
        $.ajax({
            url: '{:url("openbqs")}',
            dataType: "json",
            data:{},
            type: "POST",
            success: function(data){
                if(data.code == 1){
                    location.reload();
                }else{
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                }
            },
        });
    });

    $(document).on('blur','.sort', function () {
        var id = $(this).attr('data-id');
        var obs = $(this);
        $.ajax({
            url: '{:url("sortarea")}',
            dataType: "json",
            data:{'id':id,'sort':obs.val()},
            type: "POST",
            success: function(data){
                //layer.msg(data.msg,{icon:1,time:500,shade: 0.1,});
            },
            error:function(ajaxobj)
            {
                if(ajaxobj.responseText!='')
                    alert(ajaxobj.responseText);
            }
        });
    });

    $(document).on('click','.change_status', function () {
        var id = $(this).attr('data-id');
        var tp = $(this).attr('data-tp');
        $url = ""; 
        if(tp == "open") $url = '{:url("stateopen")}';
        if(tp == "url") $url = '{:url("stateurl")}';
        if(tp == "top") $url = '{:url("statetop")}';
        if(tp == "con") $url = '{:url("statecon")}';
        var obs = $(this);
        $.ajax({
            url: $url,
            dataType: "json",
            data:{'id':id},
            type: "POST",
            success: function(data){
                if(data.code == 1){
                    obs.find('div').removeClass('layui-form-onswitch');
                    layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                }else{
                    obs.find('div').addClass('layui-form-onswitch');
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                }
            },
            error:function(ajaxobj)
            {
                if(ajaxobj.responseText!='')
                alert(ajaxobj.responseText);
            }
        });
    });

    //批量其他设置
    $(document).on('click','.doopen', function () {
        if (1 > $(".layuitable tbody input:checked").size()) {return common.layerAlertE("对不起，请选中您要操作的数据！", "提示");}
            var diqulay = layer.open({
                title: '批量操作',
                type: 1,
                content: $("#open"),
                skin: 'layer_diqu',
                area: ['600px','360px'],
                btn: '确定',
                yes: function(index, layero){
                    var isopen = $('#open input[name="isopen"]:checked ').val()
                    var istop = $('#open input[name="istop"]:checked ').val()
                    var iscon = $('#open input[name="iscon"]:checked ').val()
                    var isurl = $('#open input[name="isurl"]:checked ').val()
                    var arr = new Array();
                    $("#open input:checkbox[name='selarea']:checked").each(function(i){
                        arr[i] = $(this).val();
                    });
                    var selarea = arr.join(",");
                    if (selarea == "") {return common.layerAlertE("对不起，请选中需要操作的城市级别！", "提示");}
                    var c = "";
                    for (c = "", d = $(".layuitable input:checked"), e = 0; e < d.length; e++) d[e].checked && "disabled" != $(d[e]).attr("disabled") && (c = c == "" ? $(d[e]).attr("ids") : c+ ","+$(d[e]).attr("ids"));

                    $.ajax({
                        url: '{:url("doopen")}',
                        dataType: "json",
                        data:{'ids':c, 'isopen':isopen, 'istop':istop, 'iscon':iscon, 'isurl':isurl, 'selarea':selarea},
                        type: "POST",
                        success: function(data){
                            if(data.code == 1){
                                parent.layer.alert(data.msg, {
                                    title: "提示", icon: 1, resize: false, zIndex: layer.zIndex
                                });
                                layer.close(diqulay);
                            }
                        }
                    }); 
                }
            });
    });

});
    
</script>
</body>
</html>