<div class="index_links mt50" >
    <div class="center  pt50 pb50">

      <div class=" ">
       <ul>
         <li>
           <p class="p1 pl8 f20">招商销售热线</p>
           <p class="p2 f16">024-74175222, 13941048808</p>
         </li>
         <li>
           <p class="p1 pl8 f20">加盟代理</p>
           <p class="p2 f16">全国各地加盟招商 | 点击进入</p>
         </li>
         <li>
           <p class="p1 pl8 f20">亿霖旗舰店</p>
           <p class="p2 f16">亿霖健康官方商城 | <a target="_blank" href="http://shop106003497.taobao.com/" title="亿霖健康官方商城">点击进入</a></p>
         </li>
         <li>
           <p class="p1 pl8 f20">亿霖专营店</p>
           <p class="p2 f16">亿霖官方淘宝店 |  <a target="_blank"  href="http://shop100304063.taobao.com/" title="亿霖官方淘宝店">点击进入</a> </p>
         </li>

       </ul>
      </div>
    </div>
  </div>