    <div class="footer">
      <div class="center ">
        <div class="  clearfix">
          <section class="col col1">
            <h1>网站导航</h1>
            <yunu:nav typeid='1'>
                <li  >
                     - <span class="service"></span><a class="full" href="{$nav.url}"><span>{$nav.title}</span></a>
                </li>
            </yunu:nav>

          </section>
          <section class="col col1">
            <h1>产品分类</h1>
            <yunu:catlist cid='21'>
                <li  >
                     - <span class="service"></span><a class="full" href="{$catlist.url}"><span>{$catlist.title}</span></a>
                </li>
            </yunu:catlist>

          </section>
          <section class="col col1">
            <h1>新闻资讯</h1>
            <yunu:catlist cid='28'>
                <li  >
                     - <span class="service"></span><a class="full" href="{$catlist.url}"><span>{$catlist.title}</span></a>
                </li>
            </yunu:catlist>

          </section>
          <section class="col col2">
            <h1>联系我们</h1>
            <p><span class="icon icon1">地址：</span><span><yunu:block name='dizhi' /></span></p>
            <p><span class="icon icon2">电话：</span><span ></span><span ><yunu:block name='dianhua' /></span></p>
            <p><span class="icon icon2">手机：</span><yunu:block name='shouji' /></span></p>
            <p><span class="icon icon3">邮箱：</span><span><yunu:block name='email' /></span></p>
          </section>

          <section class="col col3">
            <div class="contact tac">    
              <div class="ewm"><yunu:block name='ewm' />
                <p>亿霖公众号</p>
              </div>
            </div>
          </section>
        </div>



      </div>

      <div class="foot3" style="">
        <div class="inner">
          <yunu:config name="site_copyright" />
        </div>
      </div>
    </div>

    <div class="right_fix">
      <div class="text clearfix">
        <ul>
          <li>
            <div class="pic">
              <img class="img1" src="__PUBLIC__/img/fix1.png">
              <img class="img2" src="__PUBLIC__/img/fix1.png">
              <span>产品搜索</span>
            </div>
            <div class="text1">
              <div class="search clearfix">
                <form action="<yunu:url name='search'/>" method="post">
                  <input class="inp1" type="text" name="key" placeholder="请输入产品名称">
                  <input class="btn_sub" type="submit" name="" value="">
                </form>
              </div>
            </div>
          </li>
          <li>
            <div class="pic">
              <a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=<yunu:block name='qq' />&amp;site=qq&amp;menu=yes">
                <img class="img1" src="__PUBLIC__/img/fix2.png">
                <img class="img2" src="__PUBLIC__/img/fix2.png">
                <span>在线咨询</span>
              </a>
            </div>
          </li>
          <li>
            <div class="pic">
              <img class="img1" src="__PUBLIC__/img/fix3.png">
              <img class="img2" src="__PUBLIC__/img/fix3.png">
              <span>二维码</span>
            </div>
            <div class="text">
              <yunu:block name='wxewm' />
            </div>
          </li>
          <li class="btntop">
            <div class="pic">
              <img class="img1" src="__PUBLIC__/img/fix4.png">
              <img class="img2" src="__PUBLIC__/img/fix4.png">
              <span>返回顶部</span>
            </div>
          </li>
          <script type="text/javascript">
            $('.btntop').click(function() {
              $('body,html').animate({
                scrollTop: 0
              }, 500);
            })
          </script>
        </ul>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $('.imgauto img').imgAuto();
      })
    </script>
    <script type="text/javascript">
      var browser = navigator.appName
      var b_version = navigator.appVersion
      var version = b_version.split(";");
      var trim_Version = version[1].replace(/[ ]/g, "");
      if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0") {
        $('.iet').show();
      } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0") {
        $('.iet').hide();
      } else {
        $('.iet').hide();
      }
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ylyy.js"></script>
